App01.Model.Application/App01.Model.Application.Api/logs/
App01.Model.Application/App01.Model.Application.Api/obj/
App01.Model.Application/App01.Model.Application.Api/bin/

App01.Model.Application/App01.Model.Application.Api/logs/*
App01.Model.Application/App01.Model.Application.Api/obj/*
App01.Model.Application/App01.Model.Application.Api/bin/*

App01.Model.Domain/bin/
App01.Model.Domain/obj/

App01.Model.Service/bin/
App01.Model.Service/obj/

App01.Model.Infra/App01.Model.Infra.Data/bin/
App01.Model.Infra/App01.Model.Infra.Data/obj/

App01.Model.Infra/App01.Model.Infra.CrossCutting/bin/
App01.Model.Infra/App01.Model.Infra.CrossCutting/obj/

